
/*Global-------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Arial, sans-serif';
    color: white;

}
/*Header--------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------*/
header {
    display: block;
    max-width: 100%;
    height: 100%;
    background-color: #2a607c;
}
header h1 {
    line-height: 125px;  
    font-size: 4rem;
}
ul {
font-size: medium;
}
/*NAV-----------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------*/
nav {
    padding-right: 2%;
    margin-bottom: 0 auto;
    float: right; 
    list-style: none;
    font-size: small;
} 
nav li {
    display: inline-block;
} 
.meeting{

}
/*Body--------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    
}
/*Section-----------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------*/
section {
    display: block;
    box-sizing: border-box;
    background-color: #0072bb;
    max-width: 80%;
    height: 100%;
    padding: 55px;
    margin: 10px;
    float: left;

}
section h1 {   
    font-size: 45px;
    line-height: 100%;

}
section p {
    font-size: 20px;
    padding-top: 30px;
}
.hright .pright {
    text-align: left;
}
.hleft {
    width: 50%;
    margin: 0 auto;
}
.pright {
}
.pleft {
}
.image-1 {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}
.image-2 {
    float: right;
    margin-left: 25px;
    max-height: 200px
}
.image-3 {
    float: left;
    margin-right: 25px;
    max-height: 200px
}
/*Aside-------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/
aside {
    display: inline-block;
    box-sizing: border-box;
    background-color: #0072bb; 
    padding: 10px;
    margin: 10px auto;
    max-width: 350px;
} 
.imgaside {
    padding-left: 50px;
    
}
aside h3 {
    font-size: x-large;
    text-align: center;
}
aside p {
    font-size: large; 
    text-align: left;
}